/* .heading {
    color: #301de3;
    background-color: rgb(210, 223, 223);
    margin: 2px;
    padding: 5px;
    width: 75px;

}

body {
    background-color: rgb(215, 196, 232);
}

button {
    background-color: #da869a;
    color: #e8dcdc;
} */
#box {
    height: 100px;
    width:100px ;
    background-color: blue;
    color: blue;
    border : 10px solid black ;
    

}